VITE_DOWNLOAD_URL=https://github.com/bl4ckh4nd/billme/releases/latest
VITE_ANALYTICS_DOMAIN=billme.app
VITE_ANALYTICS_SRC=https://plausible.io/js/script.js
VITE_GITHUB_OWNER=bl4ckh4nd
VITE_GITHUB_REPO=billme
